<div class="buffer-bottom card p-2 rounded">
  <p class="bg-light rounded"><%= comment.body %></p>
  <span class="bg-light rounded">
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
    <% if current_user_can_edit?(comment) %>
    <%= button_to(
            bi_icon('trash'),
            event_comment_path(comment.event, comment),
            method: :delete,
            data: { turbo_confirm: t('are_you_sure') },
            class: 'btn btn-link p-0',
            form_class: 'd-inline'
        ) %>
    <% end %>
  </span>
</div>

