<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{asset_path('event.jpg')})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l(@event.datetime, format: :short) %></h3>
            <h3><small><%= link_to @event.address,
                "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>

          <div class="mb-2">
            <% if current_user_can_edit?(@event) %>
              <%= link_to t('event.editing'), edit_event_path(@event),
                class: 'btn btn-primary' %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="event-photos">
    <h2><%= t('photos.photos') %></h2>
      <div class="event-photos-gallery">
        <% unless @event.photos.except.present? %>
          <p class="text-muted text-center"><%= t('photos.no_photos') %></p>
        <% end %>
        <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
      </div>

      <% if user_signed_in? %>
        <div class="event-photo-form">
          <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
        </div>
      <% end %>
    </div>

    <div class="event-comments buffer-top">
      <%= render partial: 'comments/form', locals: { comment: @new_comment || @event.comments.build } %>

      <div class="buffer-both">
        <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment).reverse_order %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="event-owner">
      <h4><%= t 'subscription.calls' %></h4>
      <p><%= render partial: 'users/user', object: @event.user %></p>
    </div>
    <div class="event-subscriptions">
      <h4><%= t 'subscription.will_go' %></h4>
      <div>
        <% if @event.subscriptions.except(@new_subscription).empty? %>
          <p class="text-center text-muted"><%= t 'subscription.no_subscribers' %></p>
        <% end %>
        <p>
          <%= render partial: 'subscriptions/subscription',
              collection: @event.subscriptions.except(@new_subscription) %>
        </p>
      </div>
    </div>

    <% unless @event.user == current_user %>
      <div class="event-subscription-form">
        <h4><%= t 'subscription.i_will' %></h4>
        <div>
          <%= render partial: 'subscriptions/form', locals: {
        subscription: @new_subscription || @event.subscriptions.build
              } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
